.main {
  width: 50%;
}

.main .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  padding: 20px;
}

.main .wrapper img {
  object-fit: contain;
}

.main .wrapper form {
  width: 100%;
  display: grid;
  gap: 10px;
}

.main .wrapper form input {
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 7px 11px;
}

.main .wrapper form input:focus {
  outline: 3px solid rgba(52, 152, 255, 0.25);
}

.main .wrapper form button {
  border: none;
  cursor: pointer;
  border-radius: 6px;
  background-color: #19816a;
  color: white;
  padding: 7px 11px;
}
